/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

nav {
  display: flex;
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  justify-content: space-between;
  background-color: pink;
}

.nav-item {
  margin-right: 50px;
}

.Navbar {
  /* Add some padding to the Navbar */
  padding: 10px;
  list-style-type: none;
}

/* Style for the NavLinks */
.NavLink {
  /* Add some margin to the right of each NavLink */
  margin-right: 10px;
  /* Remove bullet points from the list items */
  list-style-type: none;
}